.cartographer-container {
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  flex-wrap: wrap;
}

.map-tile-container {
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.map-tile-container .header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-tile-container .actions {
  display: flex;
  flex-direction: column;
}

.map-tile-container .actions .button {
  margin: 3px;
}

.button a {
  color: white;
}